* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.container {
  width: 100%;
  min-width: 300px;
  background-color: rgba(69, 121, 134, 0.404);
  margin: 80px 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container_element {
  border: 1.5px solid gray;
  margin: 15px;
  padding: 15px;
  background-color: rgba(208, 196, 230, 0.329);
  /* box-sizing: border-box;
  text-align: center; */
  /* flex-basis: 200px; */
  flex-shrink: 0;
  height: 100px;
}
.container_element:first-child {
  width: 60%;
}
.container_element:last-child {
  flex-basis: 15%;
}

.container_element:nth-child(2) {
  background: url(image_2024-12-12_22-48-47.png) no-repeat;
}
.container_element:nth-child(3) {
  background: url(../../../lab5/assets/img/planeta.jpg);
}
 body{
  background: url(image_2024-12-12_22-48-47.png) no-repeat;
 }