body {
  background-color: rgb(212, 160, 17);
  display: flex;
  justify-content: center;
}

.tags {
  display: flex;

  justify-content: space-between;
  height: 300px;

}

table, tr,td {

  border: 1px solid black;
  
}



