<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AskIt</title>
  <link href="../assets/stylesheets/main.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1><a href="index.html">AskIt</a></h1>
    <h3>3&ndash;15 августа &mdash; Россия, Брянск</h3>
    <nav>
      <a href="index.html">Главная</a>
      <a href="create.html">Информационные ресурсы</a>
      <a href="discussion.html">Обсуждения</a>
      <a href="news.html">Новости сайта
        <a href="about.html">О проекте</a>
    </nav>
  </header>

  <section>
    <h2>Новый раздел страницы</h2>
    <p>Пока что здесь нет стилей, но они скоро будут:)</p>
  </section>

  <section>
    <a href="create.html">
      <h2>Создание сайтов и веб-приложений</h2>
      <h2>В этом разделе будут отдельные главы, которые посвящены изучению отдельных элементов и технологий</h2>
    </a>
    <section class="red">
      <h2>HTML</h2>
      <p>Язык разметки страниц, не является чем-то сложным</p>
    </section>
  </section>

  <section class="green">
    <h2>А это заголовок в <b>section</b></h2>
    <article>
      <div class="firstClass">Это элемент с классом</div>
      <div class="social">
        <p>блок информации</p>
      </div>
    </article>
    <div class="figure">
      <div class="figure" id="figure-all">15px</div>
      <div class="figure" id="figure-x-y">50px 30 px</div>
      <div class="figure" id="figure-top-right-bottom-left">5px 15px 50px 90px;</div>
    </div>
  </section>

  <aside>
    <h3>Это элемент <b>aside</b></h3>
    <p>Это выделение <strong>важной</strong> информации </p>
    <p>А это просто <b>выделение</b></p>
    <p>На этом <em>слове</em> делается акцент</p>
    <p>А у --><i>этого</i><-- меняется тон или произношение</p>
  </aside>

  <footer>
    <h3>А это элемент <b>footer</b></h3>
    <nav>
      <a href="index.html">Главная</a>
      <a href="discussion.html">Обсуждения</a>
      <a href="news.html">Новости сайта
        <a href="about.html">О проекте</a>
    </nav>
    <small>&copy; Teaching styles</small>
  </footer>

</body>

</html>