* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card-image {
  float: right;
  width: 400px;
  height: 225px;
  border: 1px solid rgb(10,126,218);
  margin: 30px;
  border-radius: 30px;
  overflow: hidden;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.clear-float {
  clear: both;
}

#card-1 {
  border: 3px solid red;
  visibility: hidden;
}

#card-2 {
  border: 3px solid blue;

}

#card-3 {
  border: 3px solid green;
  opacity: 0.4;
}

#card-4 {
  border: 3px solid yellow;
  display: none;
}

 .box-list li {
  display: table-cell;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
 }

 .box-list ul {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
 }

 .box-list {
  position: absolute;
  top: 0;
  right: 0;
 }